<%- include('../layouts/homepageHeader.ejs')-%>
<section class="vh-100" style="background-color: #10362e;">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/image/adlogin.avif"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form  action="/userLogin" method="post" >
                  <div class="d-flex justify-content-center mb-3 pb-1">
                    <span class="h2 fw-bold mb-0 font-weight-bold" style="color: black;">RubiKat</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example17">Enter your OTP</label>
                    <input type="email" id="form2Example17" class="form-control form-control-lg" name="OTP"/>
                    <span id="emailvalidate" style="color: red;"></span>                    
                  </div>                     
                  <div class="mb-1 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-lg btn-block" >Login</button>
                  </div>                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../layouts/homepageFooter.ejs')-%> 